 *{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightblue
}

#title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
}

.Title-Container h3{
    text-align: center;
}


.input{
margin-top: 50px;
display: flex;
justify-content: center;
}

.output{
    
    margin-top: 50px;
    text-align: center;
}

.button-container{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

#textButton{
    background: black;
    color: white;
    border:none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:16px;
    
}


