body *{
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

#title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
}

.Title-Container h3{
    text-align: center;
}


.input{
margin-top: 50px;
display: flex;
justify-content: center;
}

.CPU{
    text-align: center;
}

#textOutput{
    text-align: center;
    margin-top: 50px;
}


